{{ define "main" }}
<main>
    <div>
        <h1>{{ .Title }}</h1>
    </div>
    <div>
        <code>项目分类：</code>
        {{ range $i, $cat := .Params.categories }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" ( urlize .)) -}}
            <code>{{$i}}.<a href="{{ .Permalink }}">{{.Title}}</a></code>
            {{ end }}
        {{ end }}
    </div>
    <div class="markdown-content">
        {{.Content}}
    </div>
    <div class="toc">
        {{.TableOfContents}}
    </div>

</main>
{{ end }}