{{ define "main" }}
<main>
    <div>
        <div class="postListTitle">
            <h1>{{ .Title }}</h1>
        </div>
        <div>
            {{ range (.Paginator 6).Pages.ByDate.Reverse }}
            <div class="postList">
                <h2>
                    <a href="{{.Permalink}}">{{ .Title }}</a>
                </h2>
                <div class="postListSummary">
                    <p>{{ .Summary }}</p>
                </div>
                <div class="read-more">
                    <a alt="{{.Title}}" href="{{.Permalink}}">Read more</a>
                </div>
                <time>{{ .Date.Format "01-02, 2006" }}</time>
            </div>
            {{ end }}
        </div>
        {{- partial "pagination.html" . -}}
    </div>
</main>
{{ end }}