.markdown-content{
    max-width: 80%;
}

/* 仿CSDN的引用 */
.markdown-content blockquote{
    padding: 1px 16px;
    margin: 0px;
    border-left: 6px solid #dddfe4;
    background: #eef0f4;
}

/* image */
.markdown-content img{
    max-width: 100%;
}

/* table */
.markdown-content table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
.markdown-content table , table tr td{
    border: 2px solid black;
}


/* url 改不了target */

/* 右侧TOC */
.toc{
    position: fixed;
    right: 2%;
    top: 30%;

    max-width: 200px;
}
.toc ol
{
    padding-inline-start: 6px;
    list-style-type: none;
}
.toc li{
    font-size: 15px;
}
.toc li li
{
    font-size: 14px;
}
.toc li li li
{
    font-size: 13px;
}
.toc li li li li
{
    font-size: 12px;
}
.toc li li li li li
{
    font-size: 12px;
}